[Unit]
Description=Example Receiver Service

[Service]
# Tvůj uživatel
User=student
# Absolutní cesta do složky projektu
WorkingDirectory=/home/student/mpc-rbt-student-247414
# Cesta ke spouštěcímu skriptu
ExecStart=/home/student/mpc-rbt-student-247414/run_receiver.sh
Restart=always

[Install]
WantedBy=multi-user.target
