[Unit]
Description=Example Sender Service

[Service]
# Doplňujeme podle zadání:
User=student
WorkingDirectory=/home/student/mpc-rbt-student-247414
ExecStart=/home/student/mpc-rbt-student-247414/run_sender.sh
Restart=always

[Install]
WantedBy=multi-user.target
